<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="template.xhtml">
	
    
	<ui:define name="content">

          <h:form>        
     <p:menubar>
       <p:menuitem value="Acceuil >> " url="#" />
        <f:facet name="options">
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
        </f:facet>
    </p:menubar>
              </h:form>
                
            <p:spacer width="500" height="10" />
            <br></br>
          <center>   
           
                    
              <h:form>
                  
                         <fieldset style="width: 600px" >
                          <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">
                              
                          <p:outputLabel for="specialite" value="Spécialite" />
                          <p:inputText id="specialite" value="#{mbSP.specialite.specialite}" />

                          <p:commandButton value="Submit"   icon="ui-icon-check" action="#{mbSP.AddSpecialite()}" />
                           </h:panelGrid>
                             
                           </fieldset>
                  
             </h:form>
            
              
              </center>
        
        </ui:define>

</ui:composition>

