<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="template.xhtml">
	
   <ui:define name="content">
       <h:form>        
            <p:menubar>
              <p:menuitem value="Acceuil >> " url="#" />
               <f:facet name="options">
                     <h:commandButton type="button" value="Logout"  />
               </f:facet>
            </p:menubar>
        </h:form>
            
        <p:spacer width="500" height="10" /><br></br>
        <center>   
            <h:form> 
              <table>
                  <tr>      
                      <td>
                          <p:selectOneMenu  value="${mBAjoutUser.selecetedTypeUser}" >
                            <f:selectItem itemLabel="SelectOne" itemValue="" />
                            <f:selectItem itemLabel="Administrateur" itemValue="1" />
                            <f:selectItem itemLabel="Etudiant" itemValue="2" />
                            <f:selectItem itemLabel="Enseignant" itemValue="3" />
                            <f:selectItem itemLabel="Entreprise" itemValue="4" />
                            <f:ajax  listener="#{mBAjoutUser.goToPage()}" execute="@form" render="div1"></f:ajax>
                            </p:selectOneMenu>
                      </td>
                     
                           
                  </tr>
             </table>
       
                <fieldset style="width: 500px">      
                <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">

                    <p:outputLabel for="nom" value="Nom:" />
                    <p:inputText id="nom" value="#{mBAjoutUser.utilisateur.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBAjoutUser.utilisateur.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBAjoutUser.utilisateur.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBAjoutUser.utilisateur.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:calendar id="dateNaissance" value="#{mBAjoutUser.utilisateur.dateNC}" />
                </h:panelGrid>
                <h:panelGrid id="div1" style="${mBAjoutUser.etat}" cellpadding="5" columns="2" >
                    
                    <c:if test="${mBAjoutUser.selecetedTypeUser==3}">
                            
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBAjoutUser.enseignant.prenom}" />

                        <p:outputLabel for="codeRef" value="Code Enseignant:" />
                        <p:inputText id="codeRef" value="#{mBAjoutUser.enseignant.codeEns}" />

                        <p:outputLabel for="list" value="Departement:" />
                        <p:selectOneMenu id="list" value="#{mBAjoutUser.selectedDepartement}" >
                             <f:selectItem itemLabel="Select One" itemValue=""/>
                             <f:selectItems value="#{mBAjoutUser.listDepartement}"/>
                        </p:selectOneMenu>
                           
                    </c:if>
                    <c:if test="${mBAjoutUser.selecetedTypeUser==1}">
                            
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBAjoutUser.admin.prenom}" />
                        
                        <p:outputLabel for="Login" value="Login:" />
                        <p:inputText id="Login" value="#{mBAjoutUser.admin.login}" />
                        
                        <p:outputLabel for="password" value="Mot de Passe:" />
                        <p:password id="password" value="#{mBAjoutUser.admin.password}" />

                    </c:if>
                    <c:if test="${mBAjoutUser.selecetedTypeUser==2}">
                            
                         <p:outputLabel for="prenom" value="Prénom:" />
                         <p:inputText id="prenom" value="#{mBAjoutUser.etudiant.prenom}" />
                         
                         <p:outputLabel for="cne" value="CNE:" />
                         <p:inputText id="cne" value="#{mBAjoutUser.etudiant.CNE}" />
                         
                        <p:outputLabel for="list" value="Formation:"  />
                        <p:selectOneMenu id="list" value="#{mBAjoutUser.selectedformation}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listformation}"/>
                             <f:ajax  listener="#{mBAjoutUser.handleChange}" execute="@form" render="list1"></f:ajax>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="list1" value="Niveau:" />
                        <p:selectOneMenu id="list1" value="#{mBAjoutUser.selectedniveau}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listniveau}"/>
                             <f:ajax  listener="#{mBAjoutUser.handleChange1}" execute="@form" render="list2"></f:ajax>
                       </p:selectOneMenu>
                       <p:outputLabel for="list2" value="Specialité:"  />
                       <p:selectOneMenu id="list2" value="#{mBAjoutUser.selectedspecialite}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listspecialite}"/>
                        </p:selectOneMenu>

                    </c:if>
                    <c:if test="${mBAjoutUser.selecetedTypeUser==4}">      
                        <p:outputLabel for="codeRef" value="Code De Reference:" />
                        <p:inputText id="codeRef" value="#{mBAjoutUser.entreprise.codeRef}" />
                        
                        <p:outputLabel for="Login" value="Login:" />
                        <p:inputText id="Login" value="#{mBAjoutUser.entreprise.login}" />
                        
                        <p:outputLabel for="password" value="Mot de Passe:" />
                        <p:password id="password" value="#{mBAjoutUser.entreprise.password}" />

                    </c:if>
                   
                    <p:commandButton value="Submit"  icon="ui-icon-check" action="#{mBAjoutUser.AjoutUser()}" />
                        
                </h:panelGrid>
                
                </fieldset>  
                  
             </h:form>
              
        </center>
        
   </ui:define>

</ui:composition>

