<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


                    <p:panel id="basic" header="Authentification"  style="margin-bottom:20px">
                        <h:form>
                        <h:panelGrid columns="1" cellpadding="10">
                            <p:inputText placeholder="login" id="Login" value="#{mBAuthentification.login}" />
                            <p:password placeholder="password" id="Password" value="#{mBAuthentification.mdp}" />
                            <p:commandButton value="Se Connecter" action="#{mBAuthentification.goTo()}"/>
                        </h:panelGrid>
                        </h:form>
                    </p:panel>
</html>