<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        template="template.xhtml">
            
    <ui:define name="content">
        
        <h:form>        
            <p:menubar>
              <p:menuitem value="Acceuil >> " url="#" />
               <f:facet name="options">
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
               </f:facet>
            </p:menubar>
        </h:form>
        <f:view>

            <center>
                 <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <fieldset style="width: 600px">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Departement:" for="departement" />
                    <p:inputText id="departement" value="#{departementlist.dep.departement}" title="Departement" />
                </p:panelGrid>
                     <h:commandButton value="Annuler"  action="DepartementList" />
                    <h:commandButton value="Enregistrer"  action="#{departementlist.update()}" />
                    
                    </fieldset>
            </h:form>

                </center>   
            
           
        </f:view>

    </ui:define>
</ui:composition>
