<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Accueil</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="/header.xhtml"></ui:include>
            <p:layout style="min-width:400px;min-height:200px;">
                 <p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="300">
                    <p:panel id="basic" header="Profil"  style="margin-bottom:20px">
                       <h:form>
                            <h:panelGrid id="profil" columns="2" style="size:300px">
                                <img src="images/profile.png" width="60" height="60" />
                                <p:outputLabel value="#{mBAuthentification.ens.login}" ></p:outputLabel>
                           </h:panelGrid>
                          <h:commandButton style="background:#0066ff;color:white" value="Voir Profil" action="profilEnseignant.xhtml"></h:commandButton>
                          <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>

                        </h:form>
                    </p:panel>
                    <p:panel id="rech" header="Rechercher un Etudiant"  style="margin-bottom:20px">
                       <h:form>
                        <h:panelGrid id="profil" columns="1" style="size:300px">
                            
                            <p:inputText placeholder="CNE de l'etudiant" value="#{mbOffre.CNE}"/>
                            <h:commandButton style="background:#0066ff;color:white" value="Rechercher" action="#{mbOffre.rechercheEtudiant()}"></h:commandButton>
                        </h:panelGrid>

                       </h:form>
                    </p:panel>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <ui:include src="/MenuPrincipal.xhtml"></ui:include>
                    
                    <p:panel id="activeC" header="Les publications">
                        <h:form> <h:commandButton style="background:#0066ff;color:white" value="Ajouter une publication" action="/AjoutPublication.xhtml" />
                        <h:commandButton style="background:#0066ff;color:white" value="Ajouter Offre" action="/AjoutOffreEnsg.xhtml"/></h:form>
                        
                            <f:view>
                                <h:form>
                                    <p:dataTable value="#{mBOpEnseignant.listPublicationEnseignant}" var="item">
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Titre"/>
                                            </f:facet>
                                            <h:outputText value="#{item.titre}"/>
                                        </p:column>

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Date de Publication"/>
                                            </f:facet>
                                            <h:outputText value="#{item.datePub}"/>
                                        </p:column>

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Message"/>
                                            </f:facet>
                                            <h:outputText value="#{item.message}"/>
                                        </p:column>
                                       
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Suppression"/>
                                            </f:facet>
                                            <h:commandButton value="Suppression" action="#{mBOpEnseignant.DeletePublication(item)}" />
                                        </p:column>

                                    </p:dataTable>
                                </h:form>
                            </f:view>
                        

                    </p:panel>
                </p:layoutUnit>
            </p:layout>
            <p:layoutUnit position="south" size="50" closable="true" collapsible="true" >
            <ui:include src="/footer.xhtml"></ui:include>
            </p:layoutUnit>
        </h:body>
    </f:view>
</html>

