<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
        <f:view>
        <h:form>    
        <p:menubar>
        <p:menuitem value="Acceuil> " url="#" />
        <f:facet name="options">
            <p:commandButton type="button" value="Logout" icon="ui-icon-extlink" />
        </f:facet>
    </p:menubar>   
        </h:form>  
            <center>
            <h:form>
                    <p:dataTable value="#{mBEntreprise.entreprises}" var="item">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="CodeRef"/>
                        </f:facet>
                        <h:outputText value="#{item.codeRef}"/>
                    </p:column>
              
                   
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Email"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>
                        <h:outputText value="#{item.nom}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Tel"/>
                        </f:facet>
                        <h:outputText value="#{item.tel}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Adresse"/>
                        </f:facet>
                        <h:outputText value="#{item.adresse}"/>
                    </p:column>
             
                     <p:column>
                        <f:facet name="header">
                            <h:outputText value="DateNC"/>
                        </f:facet>
                        <h:outputText value="#{item.dateNC}"/>
                    </p:column>
                        
                        <p:column>
                        <f:facet name="header">
                            <h:outputText value="En attente"/>
                        </f:facet>
                            <h:commandLink value="Vérifié" action="#{mBEntreprise.verifieEntreprise(item)}"/>
                    </p:column>
                    
                </p:dataTable>
            </h:form>
            </center>    
        </f:view>

    </h:body>
</html>

