<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Accueil</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="/header.xhtml"></ui:include>
            <p:layout style="min-width:400px;min-height:200px;">
                <p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="300">
                   <ui:include src="/Authentification.xhtml"></ui:include>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <ui:include src="/MenuPrincipal.xhtml"></ui:include>
                    <p:panel id="activeC" header="Création de Votre Compte ">
                        <h:form>  
                            <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">
<<<<<<< HEAD
                                   <p:outputLabel for="codeRef" value="Code Reference *:" />
=======
                                   <p:outputLabel for="codeRef" value="Code Réference *:" />
>>>>>>> b08685cb28e3c58946a224d948c140ec9244f467
                                   <p:inputText id="codeRef" value="#{mBEntreprise.entreprise.codeRef}" />   

                                   <p:outputLabel for="nom" value="Nom:" />
                                   <p:inputText id="nom" value="#{mBEntreprise.entreprise.nom}" />

                                   <p:outputLabel for="adresse" value="Adresse:" />
                                   <p:inputText id="adresse" value="#{mBEntreprise.entreprise.adresse}" />

                                   <p:outputLabel for="email" value="Email:" />
                                   <p:inputText id="email" value="#{mBEntreprise.entreprise.email}" />

                                   <p:outputLabel for="telephone" value="Téléphone:" />
                                   <p:inputText id="telephone" value="#{mBEntreprise.entreprise.tel}" />


                                   <p:outputLabel for="login" value="Nom d'utilisateur *:" />
                                   <p:inputText id="login" value="#{mBEntreprise.entreprise.login}" />

                                   <p:outputLabel for="password" value="Mot de passe *:" />
                                   <p:inputText id="password" type="password" value="#{mBEntreprise.entreprise.password}" />

                                   <p:outputLabel for="passwordConfirm" value="Confirmez votre mot de passe *:" />
                                   <p:inputText id="passwordConfirm" type="password" value="#{mBEntreprise.passwordConfirm}" />

                                   <p:outputLabel for="dateNaissance" value="Date de Création:" />
                                   <p:calendar id="dateNaissance" value="#{mBEntreprise.entreprise.dateNC}" />

<<<<<<< HEAD
                                   <h:commandButton style="background:#0066ff;color:white"  action="#{mBEntreprise.addEntreprise()}" value="Submit"   />
=======
                                   <h:commandButton  action="#{mBEntreprise.addEntreprise()}" value="Submit"   />
>>>>>>> b08685cb28e3c58946a224d948c140ec9244f467
                                   <br></br>
                                   <p:separator/>
                                   <br></br>
                                   *Champ obligatoire
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                </p:layoutUnit>
            </p:layout>
            <p:layoutUnit position="south" size="50" closable="true" collapsible="true" >
            <ui:include src="/footer.xhtml"></ui:include>
            </p:layoutUnit>
        </h:body>
    </f:view>
</html>

