<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>List</h1>
        <f:view>

            <center>
                <p:outputPanel style="#{entrepriselist.etat1}">
            <h:form>
                <h1><h:outputText value="List"/></h1>
                <fieldset style="width: 650px">
                <p:dataTable value="#{entrepriselist.entreprisesList}" var="item">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="CodeRef"/>
                        </f:facet>
                        <h:outputText value="#{item.codeRef}"/>
                    </p:column>
              
                   
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Email"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>
                        <h:outputText value="#{item.nom}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Tel"/>
                        </f:facet>
                        <h:outputText value="#{item.tel}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Adresse"/>
                        </f:facet>
                        <h:outputText value="#{item.adresse}"/>
                    </p:column>
             
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="DateNC"/>
                        </f:facet>
                        <h:outputText value="#{item.dateNC}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Modification"/>
                        </f:facet>
                        <h:commandButton action="#{entrepriselist.modification(item)}" value="modifier"/>
                    </p:column>
                    
                      <p:column>
                        <f:facet name="header">
                            <h:outputText value="Suppression"/>
                        </f:facet>
                          <h:commandButton action="#{entrepriselist.delete(item.id)}" value="supprimer"/>
                    </p:column>
                </p:dataTable>
                    </fieldset>
            </h:form>
                    </p:outputPanel>
</center>
            <center>
                <p:outputPanel style="#{entrepriselist.etat}">
            <h:form >
                <h1><h:outputText value="Create/Edit"/></h1>
                <p:panelGrid columns="2">
                    <p:outputLabel value="CodeRef:" for="codeRef" />
                    <p:inputText id="codeRef" value="#{entrepriselist.entrp.codeRef}" title="CodeRef" />
                    <p:outputLabel value="Email:" for="email" />
                    <p:inputText id="email" value="#{entrepriselist.entrp.email}" title="Email" />
                    <p:outputLabel value="Nom:" for="nom" />
                    <p:inputText id="nom" value="#{entrepriselist.entrp.nom}" title="Nom" />
                    <p:outputLabel value="Tel:" for="tel" />
                    <p:inputText id="tel" value="#{entrepriselist.entrp.tel}" title="Tel" />
                    <p:outputLabel value="Adresse:" for="adresse" />
                    <p:inputText id="adresse" value="#{entrepriselist.entrp.adresse}" title="Adresse" />
                    <p:outputLabel value="DateNC:" for="dateNC" />
                    <p:inputText id="dateNC" value="#{entrepriselist.entrp.dateNC}" title="DateNC" />
              
                       <f:facet name="header">
                            <h:outputText value="Modification"/>
                        </f:facet>
                    <h:commandButton action="#{entrepriselist.update()}" value="Enregistrer"/>
                </p:panelGrid>
            </h:form>
                    </p:outputPanel>
     </center>
        </f:view>

    </h:body>
</html>

