<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
		 <center> 
                     <b> OpenWorld, Copyright © 2015  All rights reserved. Created by : Salma SAGHRI, Faiza IBN BRAHIM, Fadwa ZOIZOU, Salma EL BAKKAL
                     </b>
                 </center> 
</ui:composition>
