<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <br></br>        
    <p:spacer width="100" height="20" />
    <img src="images/OpenWord.png" width="200" height="150" />
     <p:spacer width="100" height="20" />
    <img src="images/titre.png" width="600" height="150" />
     <p:spacer width="100" height="20" />
  <img src="images/uh1.png" width="200" height="150"/>
                  
</html>
