<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Accueil</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="/header.xhtml"></ui:include>
            
            <p:layout style="min-width:400px;min-height:200px;">
                <!-- left side-->
                 
                 <p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="300">
                        <!-- profil -->
                        <p:panel id="basic" header="Profil"  style="margin-bottom:20px">
                       <h:form>
                            <h:panelGrid id="profil" columns="2" style="size:300px">
                                <img src="images/profile.png" width="60" height="60" />
                                <p:outputLabel value="#{mBAuthentification.e.login}" ></p:outputLabel>
                           </h:panelGrid>
                          <p:commandButton value="Voir Profil" action="LaureatProfil.xhtml"></p:commandButton>
                        </h:form>
                    </p:panel>          
                        <center>
                            <p:menu>
             <p:menuitem value="Offre d'emploi" url="faces/OffrEmploi.xhtml" />
               <p:menuitem value="Offre de stage" url="faces/OffreStage.xhtml" />
               <p:menuitem value="Publiez un offre" url="faces/PublierOffre.xhtml" />
           <p:menuitem value="Document" url="faces/PublierDoc.xhtml" />
            
                            </p:menu>
                            <br/>
                            <br/>
                        <h:form>
                        <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
                    </h:form>
                   
                            </center>
                      
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <ui:include src="/MenuPrincipal.xhtml"></ui:include>
                    <p:panel id="activeC" header="Laureat">
                        <!-- contenu -->
                        <f:view>
                            <h:form>
                                
                  <p:dataTable var="item" value="#{listOffre.offreliste}" scrollable="true" scrollHeight="300">
                        
                       <p:column>
                            <f:facet name="header">
                                <h:outputText value="Secteur"/>
                            </f:facet>
                            <h:outputText value="#{item.secteur}"/>
                        </p:column>
                        
                    <p:column>
                            <f:facet name="header">
                                <h:outputText value="Date de publication"/>
                            </f:facet>
                            <h:outputText value="#{item.datePublication}"/>
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Date d'expiration"/>
                            </f:facet>
                            <h:outputText value="#{item.dateExperation}"/>
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Offre"/>
                            </f:facet>
                            <h:outputText value="#{item.offre}"/>
                        </p:column>
                      
                      <p:column>
                            <f:facet name="header">
                                <h:outputText value="Consulter"/>
                            </f:facet>
                          <center> 
                          <p:commandButton  value="consulter"   action="#{mBLaureat.consulter(item)}" />
                          </center>
                        </p:column>
                    </p:dataTable>
                            </h:form>
                        </f:view>

                    </p:panel>
                </p:layoutUnit>
            </p:layout>
            <p:layoutUnit position="south" size="50" closable="true" collapsible="true" >
            <ui:include src="/footer.xhtml"></ui:include>
            </p:layoutUnit>
        </h:body>
    </f:view>
</html>

