<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="template.xhtml">
	
    
	<ui:define name="content">

            <h:form>
                <p:dataTable value="#{mbSP.specialites}" var="db">
            <f:facet name="header">Liste des spécialités</f:facet>

            <p:column>
            <f:facet name="header"> Spécialité </f:facet>
            <h:outputText value="#{db.specialite}" />
           

            </p:column>
            
  
               <p:column>
    			<f:facet name="header">Opérations</f:facet>
                        <h:commandLink value="supprimer" action="#{mbSP.deleteSpecailite(db)}"/>
                         <p:spacer width="10" height="10" />
                         <h:commandLink value="modifier" action="#{mbSP.edit(db)}"/>
                       	
    		</p:column>
          
            
        </p:dataTable>
            </h:form>
        
        </ui:define>

</ui:composition>

