<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        
        template="template.xhtml">
	
   <ui:define name="content">
       <f:view>
       <h:form>        
            <p:menubar>
              <p:menuitem value="Acceuil >> " url="#" />
               <f:facet name="options">
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
               </f:facet>
            </p:menubar>
        </h:form>
           
         <p:spacer width="500" height="10" /><br></br>
        <center> 
            <c:if test="${mBListeUtilisateur.etat==0}">
                <c:set var="${mBListeUtilisateur.etatForm}" value="display: none" ></c:set>
                <c:set var="${mBListeUtilisateur.etatList}" value="display:block" ></c:set>
            </c:if>
            
        <p:outputPanel id="ListeUsers" style="${mBListeUtilisateur.etatList}">
            <h:form>
              <table>
                  <tr>      
                      <td>
                          <p:selectOneMenu  value="${mBListeUtilisateur.selecetedTypeUser}" >
                            <f:selectItem itemLabel="Select One" itemValue="0" />
                            <f:selectItem itemLabel="Administrateur" itemValue="1" />
                            <f:selectItem itemLabel="Etudiant" itemValue="2" />
                            <f:selectItem itemLabel="Enseignant" itemValue="3" />
                            <f:selectItem itemLabel="Entreprise" itemValue="4" />
                            <f:ajax  listener="#{mBListeUtilisateur.goToPage()}" execute="@form" render="div1"></f:ajax>
                            </p:selectOneMenu>
                      </td>
                           
                  </tr>
             </table>
            <p:outputPanel id="div1" style="display: block">
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==0}">
                       
                        <p:dataTable value="#{mBListeUtilisateur.utilisateurs}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                          
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                    <h:commandButton action="#{mBListeUtilisateur.Supprimer(item.id)}" value="Supprimer"/>
                                
                            </p:column>
                          
                          
                        </p:dataTable>
                  
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==3}">
             

                        <p:dataTable value="#{mBListeUtilisateur.enseignants}" var="item">
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="IdDepartement"/>
                                </f:facet>
                                <h:outputText value="#{item.idDepartement}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CodeEns"/>
                                </f:facet>
                                <h:outputText value="#{item.codeEns}"/>
                            </p:column>
                           
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                           <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item.id)}" value="Supprimer"/>
                            
                            </p:column>
                        </p:dataTable>
         
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==2}">

                        <p:dataTable value="#{mBListeUtilisateur.etudiants}" var="item">
                           <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CNE"/>
                                </f:facet>
                                <h:outputText value="#{item.CNE}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Formation"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idFormation.formation}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Spécialité"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idSpecialite.specialite}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Niveau"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idNiveau.niveau}"/>
                            </p:column>
                          
                            
                        
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                         
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                        
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item.id)}" value="Supprimer"/>
                            
                            </p:column>
                         
                        </p:dataTable>

            </c:if>
             <c:if test="${mBListeUtilisateur.selecetedTypeUser==1}">


                        <p:dataTable value="#{mBListeUtilisateur.admins}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                            
                            </p:column>
                        </p:dataTable>
           
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==4}">


                        <p:dataTable value="#{mBListeUtilisateur.entreprises}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CodeRef"/>
                                </f:facet>
                                <h:outputText value="#{item.codeRef}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Password"/>
                                </f:facet>
                                <h:outputText value="#{item.password}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item.id)}" value="Supprimer"/>
                            
                            </p:column>
                        </p:dataTable>

            </c:if>
        </p:outputPanel> 
         </h:form>
       </p:outputPanel>
     </center>         
         <center> 
             
       <!---      
        <p:outputPanel id="FormModification" style="${mBListeUtilisateur.etatForm}">
                <h:form>
            
                <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">

                <c:if test="${mBListeUtilisateur.selecetedTypeUser==3}">
                     <p:outputLabel for="nom" value="Nom:" />
                     <p:inputText id="nom" value="#{mBListeUtilisateur.enseignant.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.enseignant.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.enseignant.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.enseignant.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.enseignant.dateNC}" />
                
                           
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBListeUtilisateur.enseignant.prenom}" />

                        <p:outputLabel for="codeRef" value="Code Enseignant:" />
                        <p:inputText id="codeRef" value="#{mBListeUtilisateur.enseignant.codeEns}" />

                        <p:outputLabel for="list" value="Departement:" />
                        <p:selectOneMenu id="list" value="#{mBListeUtilisateur.selctedDepartement}" >
                             <f:selectItem itemLabel="Select One" itemValue=""/>
                             <f:selectItems value="#{mBListeUtilisateur.listDepartement}"/>
                        </p:selectOneMenu>
                           
                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==1}">
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.admin.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.admin.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.admin.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.admin.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.admin.dateNC}" />
                
                            
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBListeUtilisateur.admin.prenom}" />

                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==2}">
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.etudiant.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.etudiant.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.etudiant.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.etudiant.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.etudiant.dateNC}" />
                
                            
                         <p:outputLabel for="prenom" value="Prénom:" />
                         <p:inputText id="prenom" value="#{mBListeUtilisateur.etudiant.prenom}" />
                         
                         <p:outputLabel for="cne" value="CNE:" />
                         <p:inputText id="cne" value="#{mBListeUtilisateur.etudiant.CNE}" />
                         
                        <p:outputLabel for="list" value="Formation:"  />
                        <p:selectOneMenu id="list" value="#{mBAjoutUser.selectedformation}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listformation}"/>
                             <f:ajax  listener="#{mBAjoutUser.handleChange}" execute="@form" render="list1"></f:ajax>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="list1" value="Niveau:" />
                        <p:selectOneMenu id="list1" value="#{mBAjoutUser.selectedniveau}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listniveau}"/>
                             <f:ajax  listener="#{mBAjoutUser.handleChange1}" execute="@form" render="list2"></f:ajax>
                       </p:selectOneMenu>
                       <p:outputLabel for="list2" value="Specialité:"  />
                       <p:selectOneMenu id="list2" value="#{mBAjoutUser.selectedspecialite}" style="width: 100%" >
                            <f:selectItem itemLabel="Select One" itemValue=""/>
                            <f:selectItems value="#{mBAjoutUser.listspecialite}"/>
                        </p:selectOneMenu>

                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==4}">  
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.entreprise.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.entreprise.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.entreprise.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.entreprise.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.entreprise.dateNC}" />
                
                        <p:outputLabel for="codeRef" value="Code De Reference:" />
                        <p:inputText id="codeRef" value="#{mBListeUtilisateur.entreprise.codeRef}" />

                    </c:if>
                 </h:panelGrid>  
                    <p:commandButton value="Enregistrer                                                                                                                                                                                                                                                                                                             "  icon="ui-icon-check" action="#{mBListeUtilisateur.update()}" />
              
                  
                </h:form>
                
            </p:outputPanel>
                
        </center>
      -->
       </f:view>

        
              
      
        
   </ui:define>

</ui:composition>


