<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="template.xhtml">
	<ui:define name="metadata">
	</ui:define>
	<ui:define name="content">
            
            <ui:include src="/EntrepriseNonVerifList.xhtml" />
		
	</ui:define>
</ui:composition>

