<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        
        template="template.xhtml">
	
   <ui:define name="content">
       <f:view>
       <h:form>        
            <p:menubar>
              <p:menuitem value="Acceuil >> " url="#" />
               <f:facet name="options">
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
               </f:facet>
            </p:menubar>
        </h:form>
           
         <p:spacer width="500" height="10" /><br></br>
        <center> 
     
            <h:form>
              <table>
                  <tr>      
                      <td>
                          <p:selectOneMenu  value="${mBListeUtilisateur.selecetedTypeUser}" >
                            <f:selectItem itemLabel="Select One" itemValue="0" />
                            <f:selectItem itemLabel="Administrateur" itemValue="1" />
                            <f:selectItem itemLabel="Etudiant" itemValue="2" />
                            <f:selectItem itemLabel="Enseignant" itemValue="3" />
                            <f:selectItem itemLabel="Entreprise" itemValue="4" />
                            <f:ajax  listener="#{mBListeUtilisateur.goToPage()}" execute="@form" render="div1"></f:ajax>
                            </p:selectOneMenu>
                      </td>
                           
                  </tr>
             </table>
            <p:outputPanel id="div1" style="display: block">
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==0}">
                       
                        <p:dataTable value="#{mBListeUtilisateur.utilisateurs}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                          
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                             
                          
                          
                        </p:dataTable>
                  
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==3}">
             

                        <p:dataTable value="#{mBListeUtilisateur.enseignants}" var="item">
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="IdDepartement"/>
                                </f:facet>
                                <h:outputText value="#{item.idDepartement}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CodeEns"/>
                                </f:facet>
                                <h:outputText value="#{item.codeEns}"/>
                            </p:column>
                           
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                           <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item)}" value="Supprimer"/>
                            
                            </p:column>
                        </p:dataTable>
         
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==2}">

                        <p:dataTable value="#{mBListeUtilisateur.etudiants}" var="item">
                           <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CNE"/>
                                </f:facet>
                                <h:outputText value="#{item.CNE}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Formation"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idFormation.formation}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Spécialité"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idSpecialite.specialite}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Niveau"/>
                                </f:facet>
                                <h:outputText value="#{item.idParcours.idNiveau.niveau}"/>
                            </p:column>
                          
                            
                        
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                         
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                        
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item)}" value="Supprimer"/>
                            
                            </p:column>
                         
                        </p:dataTable>

            </c:if>
             <c:if test="${mBListeUtilisateur.selecetedTypeUser==1}">


                        <p:dataTable value="#{mBListeUtilisateur.admins}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                  <h:commandButton action="#{mBListeUtilisateur.Supprimer(item)}" value="Supprimer"/>
                            
                            </p:column>
                        </p:dataTable>
           
            </c:if>
            <c:if test="${mBListeUtilisateur.selecetedTypeUser==4}">


                        <p:dataTable value="#{mBListeUtilisateur.entreprises}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="CodeRef"/>
                                </f:facet>
                                <h:outputText value="#{item.codeRef}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                           
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Tel"/>
                                </f:facet>
                                <h:outputText value="#{item.tel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Password"/>
                                </f:facet>
                                <h:outputText value="#{item.password}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="DateNC"/>
                                </f:facet>
                                <h:outputText value="#{item.dateNC}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Modification"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Modification(item)}" value="modifier"/>
                                
                            </p:column>
                             <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Suppression"/>
                                </f:facet>
                                 <h:commandButton action="#{mBListeUtilisateur.Supprimer(item)}" value="Supprimer"/>
                            
                            </p:column>
                        </p:dataTable>

            </c:if>
        </p:outputPanel> 
      </h:form>
        
     </center>  
      </f:view>

        
              
      
        
   </ui:define>

</ui:composition>