<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
     <h:form>
    <p:growl autoUpdate="true"/>
 
    <p:panelMenu >
        <p:submenu label="Notification">
            <p:menuitem value="Entreprise (#{mBEntreprise.nbEntrepriseNonVerifie})" url="faces/ListeEntrepriseNonVerif.xhtml" />
        </p:submenu>
        <p:submenu label="Gestion des utilisateurs">
            <p:menuitem value="Ajouter un utilisateur" url="faces/Ajout.xhtml" />
            <p:menuitem value="La liste des Utilisateurs" url="faces/ListeUsers.xhtml" />
        </p:submenu>
        <p:submenu label="Gestion des Spécialitées ">
           <p:menuitem value="Ajouter une spécialité" url="faces/AjoutSpecialite.xhtml" />
            <p:menuitem value="Liste spécialités"  url="faces/ListeSpecialites.xhtml" />
        </p:submenu>
        <p:submenu label="Gestion des departements">
            <p:menuitem value="Ajouter un departement" url="faces/AjoutDepartement.xhtml" />
            <p:menuitem value="La liste des departements" url="faces/DepartementList.xhtml" />
        </p:submenu>
        <p:separator />
       
    </p:panelMenu>
</h:form>
</html>
