<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
     <p:tabMenu activeIndex="#{param.i}">
                        <p:menuitem value="Accueil" outcome="/Accueil.xhtml" icon="ui-icon-star">
                            <f:param name="i" value="0" />
                        </p:menuitem>
                        <p:menuitem value="Membres" outcome="/Accueil.xhtml" icon="ui-icon-search">
                            <f:param name="i" value="1" />
                        </p:menuitem>
                        <p:menuitem value="Université" outcome="/Accueil.xhtml" icon="ui-icon-document">
                            <f:param name="i" value="2" />
                        </p:menuitem>
                        <p:menuitem value="FSTS" outcome="/Accueil.xhtml" icon="ui-icon-wrench">
                            <f:param name="i" value="3" />
                        </p:menuitem>
                        <p:menuitem value="ENCG" outcome="/Accueil.xhtml" icon="ui-icon-person">
                            <f:param name="i" value="4" />
                        </p:menuitem>
                          <p:menuitem value="FSJES" outcome="/Accueil.xhtml" icon="ui-icon-person">
                            <f:param name="i" value="5" />
                        </p:menuitem>
                    </p:tabMenu>
</html>
