<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        template="template.xhtml">
	
   <ui:define name="content">
       <f:view>
       <h:form>        
            <p:menubar>
              <p:menuitem value="Acceuil >> " url="#" />
               <f:facet name="options">
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
               </f:facet>
            </p:menubar>
        </h:form>
           
         <p:spacer width="500" height="10" /><br></br>
        <center> 
        
         <p:outputPanel id="FormModification" style="display: block">
                <h:form>
            
                <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">

                <c:if test="${mBListeUtilisateur.selecetedTypeUser==3}">
                     <p:outputLabel for="nom" value="Nom:" />
                     <p:inputText id="nom" value="#{mBListeUtilisateur.enseignant.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.enseignant.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.enseignant.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.enseignant.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.enseignant.dateNC}" />
                
                           
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBListeUtilisateur.enseignant.prenom}" />

                        <p:outputLabel for="codeRef" value="Code Enseignant:" />
                        <p:inputText id="codeRef" value="#{mBListeUtilisateur.enseignant.codeEns}" />

                        <p:outputLabel for="list" value="Departement:" />
                        <p:selectOneMenu id="list" value="#{mBListeUtilisateur.selctedDepartement}" >
                             
                             <f:selectItems value="#{mBListeUtilisateur.listDepartement}"/>
                        </p:selectOneMenu>
                           
                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==1}">
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.admin.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.admin.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.admin.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.admin.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.admin.dateNC}" />
                
                            
                        <p:outputLabel for="prenom" value="Prénom:" />
                        <p:inputText id="prenom" value="#{mBListeUtilisateur.admin.prenom}" />

                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==2}">
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.etudiant.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.etudiant.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.etudiant.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.etudiant.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.etudiant.dateNC}" />
                
                            
                         <p:outputLabel for="prenom" value="Prénom:" />
                         <p:inputText id="prenom" value="#{mBListeUtilisateur.etudiant.prenom}" />
                         
                         <p:outputLabel for="cne" value="CNE:" />
                         <p:inputText id="cne" value="#{mBListeUtilisateur.etudiant.CNE}" />
                         
                        <p:outputLabel for="list" value="Formation:"  />
                        <p:selectOneMenu id="list" value="#{mBListeUtilisateur.selectedformation}" style="width: 100%" >
                            
                            <f:selectItems value="#{mBListeUtilisateur.listformation}"/>
                             <f:ajax  listener="#{mBListeUtilisateur.handleChange}" execute="@form" render="list1"></f:ajax>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="list1" value="Niveau:" />
                        <p:selectOneMenu id="list1" value="#{mBListeUtilisateur.selectedniveau}" style="width: 100%" >
                            
                            <f:selectItems value="#{mBListeUtilisateur.listniveau}"/>
                             <f:ajax  listener="#{mBListeUtilisateur.handleChange1}" execute="@form" render="list2"></f:ajax>
                       </p:selectOneMenu>
                       <p:outputLabel for="list2" value="Specialité:"  />
                       <p:selectOneMenu id="list2" value="#{mBListeUtilisateur.selectedspecialite}" style="width: 100%" >
                            
                            <f:selectItems value="#{mBListeUtilisateur.listspecialite}"/>
                        </p:selectOneMenu>

                    </c:if>
                <c:if test="${mBListeUtilisateur.selecetedTypeUser==4}">  
                         <p:outputLabel for="nom" value="Nom:" />
                         <p:inputText id="nom" value="#{mBListeUtilisateur.entreprise.nom}" />

                    <p:outputLabel for="adresse" value="Adresse:" />
                    <p:inputText id="adresse" value="#{mBListeUtilisateur.entreprise.adresse}" />

                    <p:outputLabel for="email" value="Email:" />
                    <p:inputText id="email" value="#{mBListeUtilisateur.entreprise.email}" />

                    <p:outputLabel for="telephone" value="Téléphone:" />
                    <p:inputText id="telephone" value="#{mBListeUtilisateur.entreprise.tel}" />

                    <p:outputLabel for="dateNaissance" value="Date de naissance:" />
                    <p:inputText id="dateNaissance" value="#{mBListeUtilisateur.entreprise.dateNC}" />
                
                        <p:outputLabel for="codeRef" value="Code De Reference:" />
                        <p:inputText id="codeRef" value="#{mBListeUtilisateur.entreprise.codeRef}" />

                    </c:if>
                 </h:panelGrid>  
                    <h:commandButton style="background:#0066ff;color:white" value="Enregistrer" action="#{mBListeUtilisateur.update()}"/>                                                                                                                                                                                                                                                                                                             "  icon="ui-icon-check" action="#{mBListeUtilisateur.update()}" />
              
                  
                </h:form>
                
            </p:outputPanel>
        </center>
      
       </f:view>

        
              
      
        
   </ui:define>

</ui:composition>


