<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Affichage</title>
            </f:facet>
        </h:head>
        <h:body>
            
          
            <p:layout style="min-width:400px;min-height:200px;" fullPage="true">
                  <p:layoutUnit position="north" size="200"  closable="true" collapsible="true"   >
                   <ui:include src="/header.xhtml" />
                </p:layoutUnit>
                <p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="300">
                   <ui:include src="/profile.xhtml"></ui:include>
                </p:layoutUnit>
                 <p:layoutUnit position="center">
                    <ui:include src="/MenuPrincipal.xhtml"></ui:include>
                  offre
                 </p:layoutUnit>
         
           <p:layoutUnit position="south" size="50" closable="true" collapsible="true" >
                   <ui:include src="/footer.xhtml" />
                </p:layoutUnit>
                   </p:layout>
              
        </h:body>
    </f:view>
</html>

