<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


                  
                        <p:panel id="basic" header="Profil"  style="margin-bottom:15px">
                       <h:form>
                            <h:panelGrid id="profil" columns="2" style="size:150px">
                                <img src="images/profile.png" width="60" height="60" />
                                <p:outputLabel value="#{mBAuthentification.e.login}" ></p:outputLabel>
                           </h:panelGrid>
                           <h:commandButton value="afficher votre profile" action="affichage"  />
                        </h:form>
                    </p:panel>
                    <p:panel id="rech" header="Recherche un stage/offre "  style="margin-bottom:15px">
                        <h:form><h:commandButton value="postuler pour un offre" action="affichoffre"  /></h:form> 
                    </p:panel>
     <p:panel id="hhh" header="Deconnexion "  style="margin-bottom:15px">
        <h:form><h:commandButton value="se deconnecter" action="#{mBAuthentification.logout()}"  /></h:form> 
                    </p:panel>
   
</html>