<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
     <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:menuitem value="Acceuil> " url="#" />
        <f:facet name="options">
            <h:form>
            <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
        </h:form>
        </f:facet>
    </p:menubar>        
</h:form> 
    <h:panelGrid columns="3" columnClasses="left,right" style="width:65%">
    <p:chart type="line" model="#{chartView.animatedModel1}" style="width:385px;" />
    <p:chart type="bar" model="#{chartView.animatedModel2}" style="width:385px;" />
     <p:chart type="pie"  model="#{bean.model}" style="width:385px;"/>
</h:panelGrid>
                   
</html>
