<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Accueil</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:include src="/header.xhtml"></ui:include>
            
            <p:layout style="min-width:400px;min-height:200px;">
                <!-- left side-->
                 
                 <p:layoutUnit position="west" resizable="true" size="300" minSize="40" maxSize="300">
                        <!-- profil -->
                        <p:panel id="basic" header="Profil"  style="margin-bottom:20px">
                       <h:form>
                            <h:panelGrid id="profil" columns="2" style="size:300px">
                                <img src="images/profile.png" width="60" height="60" />
                                <p:outputLabel value="#{mBAuthentification.e.login}" ></p:outputLabel>
                           </h:panelGrid>
                          <p:commandButton value="Voir Profil" action="profilLaureat.xhtml"></p:commandButton>
                        </h:form>
                    </p:panel>          
                        <center>
                            <p:menu>
             <p:menuitem value="Offre d'emploi" url="faces/OffrEmploi.xhtml" />
               <p:menuitem value="Offre de stage" url="faces/OffreStage.xhtml" />
               <p:menuitem value="Publiez un offre" url="faces/PublierOffre.xhtml" />
           <p:menuitem value="Document" url="faces/PublierDoc.xhtml" />
            
                            </p:menu>
                            <br/>
                        <h:form>
                            
                        <p:commandButton  value="Logout" icon="ui-icon-extlink"  action="#{mBAuthentification.logout()}"/>
                    </h:form>
                   
                            </center>
                      
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
                    <ui:include src="/MenuPrincipal.xhtml"></ui:include>
                    <p:panel id="activeC" header="Offre de Stage">
                        <!-- contenu -->
                        <f:view>
                        
                               <center>
           <h:form>     
                   <h:panelGrid columns="4" cellpadding="10">
                    <p:outputLabel value="Secteur : "  />
                    <p:outputLabel value="#{mBLaureat.offre.secteur}" />
                     <p:outputLabel value="Date publication : " />
                     <p:outputLabel value="#{mBLaureat.offre.datePublication}" />
                        <p:outputLabel value="Date experation : " />
                        <p:outputLabel value="#{mBLaureat.offre.dateExperation}" />
                        <p:outputLabel value="Offre: " />
                         <p:inputTextarea placeholder="offre" value="#{mBLaureat.offre.offre}" rows="3" cols="50"/>
                        
                    </h:panelGrid>
   
               <br/>
       <h:commandButton value="Postuler"  action="#{mBLaureat.postuler()}" />
            </h:form>

                </center> 
                        </f:view>

                    </p:panel>
                </p:layoutUnit>
            </p:layout>
            <p:layoutUnit position="south" size="50" closable="true" collapsible="true" >
            <ui:include src="/footer.xhtml"></ui:include>
            </p:layoutUnit>
        </h:body>
    </f:view>
</html>

